@import url("https://fonts.googleapis.com/css2?family=Moirai+One&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Moonrocks&display=swap");
body {
  margin: 50px;
}
h1 {
  /* font-family: 'Moirai One', cursive;
font-family: 'Poppins', sans-serif; */
  font-family: "Rubik Moonrocks", cursive;
  padding-top: 20px;
  color: rgb(139, 188, 204);
}
p{
    font-family: 'Poppins', sans-serif;
}
